# Ambiente Virtual do Python
/venv/

# Arquivos de cache e compilados do Python
__pycache__/
*.pyc

# Arquivo de segredos e chaves de API
.env

# Pasta da Base de Conhecimento (NÃO ENVIAR PARA O GITHUB)
/base_de_conhecimento/